@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-red: #FF0000;
  --color-white: #FFFFFF;
  --color-primary: #F3EEE8;
  --color-accent: #CED8E4;
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-accent);
}

h1 {
  margin-bottom: calc(1rem * 0.5);
  font-weight: 700;
  font-size: 1.5rem;
}

h2 {
  margin-top: 0;
  margin-bottom: calc(1rem * 0.5);
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  margin-top: 0;
  margin-bottom: calc(1rem * 0.5);
  line-height: 2.5rem;
}

.h-screen-90 {
  height: calc(90vh - 80px);
}

.h-screen-10 {
  height: 10vh;
}

.hero-image {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.img-shadow {
  box-shadow: 10px 10px 10px 10px var(--color-accent);
  -webkit-box-shadow: 10px 10px 10px 10px var(--color-accent);
  -moz-box-shadow: 10px 10px 10px 10px var(--color-accent);
}