@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-red: #FF0000;
  --color-white: #FFFFFF;
  --color-primary: #F2ECE5;
  --color-accent: #CED8E4;
  --color-shadow: #8B9CB7;
  --animate-bounce: bounce 1s infinite;
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-accent);
}

h1 {
  margin-bottom: calc(1rem * 0.5);
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  margin-top: 0;
  margin-bottom: calc(1rem * 0.5);
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  margin-top: 0;
  margin-bottom: calc(1rem * 0.5);
  line-height: 2.5rem;
}

.h-screen-90 {
  height: calc(90vh - 80px);
}

.h-screen-10 {
  height: 10vh;
}

.hero-image {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.img-shadow {
  box-shadow: 2px 2px 2px 2px var(--color-shadow);
  -webkit-box-shadow: 2px 2px 2px 2px var(--color-shadow);
  -moz-box-shadow: 2px 2px 2px 2px var(--color-shadow);
}

.accordion {
  background-color: var(--color-shadow);
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 21px;
  transition: 0.4s;
}

.open,
.accordion:hover {
  background-color: var(--color-accent);
  color: black;
}

.accordion:after {
  content: "v";
  color: #ffffff;
  float: right;
  font-size: 1.25em;
  line-height: 25px;
}

.open:after {
  content: "A";
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
}

.panel-body {
  padding: 18px 0;
}

@media only screen and (min-width: 960px) {
  .container {
    display: table;
    box-sizing: border-box;
  }
  .row .col {
    margin: 10px 0;
  }
  .col {
    display: table-cell;
  }
  .col.middle {
    vertical-align: middle;
  }
  .col-2 {
    width: 50%;
    padding-right: 72px;
  }
  .col-4 {
    width: 33.33333333333333333%;
    padding-right: 72px;
  }
}