---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import BackgroundImage from "../assets/foto/contacts.jpg";
---

<Layout>
  <Hero image={BackgroundImage}>
    <Section isFullHeight>
      <div class="flex flex-col items-center justify-center">
        <h1>Contenuto non trovato</h1>
      </div>
    </Section>
  </Hero>
</Layout>

