---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout>
  <Hero>
    <Section isFullHeight>
      <div class="flex flex-col items-center justify-center">
        <h1>Contenuto non trovato</h1>
        <p>Siamo spiacenti ma la pagina richiesta non esiste.</p>
      </div>
    </Section>
  </Hero>
</Layout>

