---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import BackgroundImage from "../assets/foto/contacts.jpg";
import ButtonLink from "../components/ButtonLink.astro";
---

<Layout>
  <Hero image={BackgroundImage}>
    <Section>
      <div class="flex flex-col items-center justify-center">
        <h1>Cosa aspettarsi</h1>
        <p>Le domande più frequenti e le loro risposte</p>
      </div>
      <br>
      <div>
        <h3 class="accordion">Che cosa è il colloquio psicologico?</h3>
        <div class="panel">
          <div class="col col-12 middle p-3">
            <!-- <div class="space"></div> -->
            <p>
              È un'interazione tra uno psicologo e una persona o un gruppo con l'obiettivo di comprendere i pensieri, le emozioni e i comportamenti della persona. Può avere diverse finalità, come la valutazione diagnostica o un supporto emotivo. Durante il colloquio, lo psicologo utilizza tecniche di ascolto attivo e domande mirate per favorire l'espressione del paziente ed aiutarlo a prendere consapevolezza di sè e delle proprie difficoltà.
            </p>
          </div>
        </div>
        <h3 class="accordion">È possibile fare terapia online?</h3>
        <div class="panel">
          <div class="col col-12 middle p-3">
            <!-- <div class="space"></div> -->
            <p>
              Si, è assolutamente possibile fare terapia online. Gli studi hanno dimostrato che è efficace tanto quanto quella in presenza. L'unica cosa che serve è una buona connessione a internet e un luogo tranquillo dove puoi parlare senza essere disturbato. Il nostro colloquio si svolgerà tramite videochiamata, utilizzando una piattaforma sicura e rispettosa della privacy. In questo modo, potrai accedere alla terapia comodamente da casa tua o da qualsiasi altro luogo in cui ti senti a tuo agio.
            </p>
          </div>
        </div>
        <h3 class="accordion">Quanto dura una sessione?</h3>
        <div class="panel">
          <div class="col col-12 middle p-3">
            <!-- <div class="space"></div> -->
            <p>
              Circa 50 minuti.
            </p>
          </div>
        </div>
        <h3 class="accordion">Come si prenota una consulenza?</h3>
        <div class="panel">
          <div class="col col-12 middle p-3">
            <!-- <div class="space"></div> -->
            <p>
              Puoi contattarmi via email all'indirizzo <a class="font-bold" href="mailto:elisasoldipsi@gmail.com">elisasoldipsi@gmail.com</a> o tramite il <a class="font-bold" href="/contatti">modulo di contatto</a>. 
            </p>
          </div>
        </div>
        <h3 class="accordion">Il colloquio è riservato?</h3>
        <div class="panel">
          <div class="col col-12 middle p-3">
            <!-- <div class="space"></div> -->
            <p>
              Si, tutte le informazioni condivise durante le consulenze saranno trattate in maniera confidenziale e nel rispetto del Codice Deontologico degli Psicologi.
            </p>
          </div>
        </div>

        <!-- Che cosa è il colloquio psicologico?
      “è un interazione tra uno psicologo e una persona o un gruppo con l'obiettivo di comprendere i pensieri, le emozioni e i comportamenti della persona. Può avere diverse finalità, come la valutazione diagnostica o un supporto emotivo. Durante il colloquio, lo psicologo utilizza tecniche di ascolto attivo e domande mirate per favorire l'espressione del paziente ed aiutarlo a prendere consapevolezza di sè e delle proprie difficoltà.
      Quanto dura una sessione? 
      Circa 50 minuti
      È possibile fare terapia online? 
      Si, è assolutamente possibile fare terapia online. Gli studi hanno dimostrato che è efficace tanto quanto quella in presenza. L'unica cosa che serve è una buona connessione a internet e un luogo tranquillo dove puoi parlare senza essere disturbato. Il nostro colloquio si svolgerà tramite videochiamata, utilizzando una piattaforma sicura e rispettosa della privacy. In questo modo, potrai accedere alla terapia comodamente da casa tua o da qualsiasi altro luogo in cui ti senti a tuo agio.
      Come si prenota una consulenza? 
      Puoi contattarmi via email o tramite il modulo di contatto. 
      Il colloquio è riservato? 
      Politica sulla Privacy: Tutte le informazioni condivise durante le consulenze saranno trattate in maniera confidenziale e nel rispetto del Codice Deontologico degli Psicologi. -->
      </div>
    </Section>
    <Section background="bg-primary">
      
      <h3 class="text-center mt-6">
        Hai altre domande?
        <ButtonLink href="/contatti">Contattami!</ButtonLink>
      </h3>
    </Section>
  </Hero>
</Layout>
<script is:inline>
  const acc = document.getElementsByClassName("accordion");
  let i;
  let panel = null;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function (ev) {
      closeAll(ev.target);
      this.classList.toggle("active");
      panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }

  function closeAll(tar) {
    const accs = document.querySelectorAll(".accordion");
    for (let i = 0; i < accs.length; i++) {
      if (accs[i] == tar) {
        continue;
      }
      accs[i].classList.remove("active");
      const panel = accs[i].nextElementSibling;
      panel.style.maxHeight = null;
    }
  }
</script>
