---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import ButtonLink from '../components/ButtonLink.astro';
import CardBox from '../components/CardBox.astro';
import Section from '../components/Section.astro';

import { Image } from 'astro:assets';
import mainPhoto  from '../assets/foto/elisa_soldi_foto.jpg';
import Logo from '../assets/sign.svg';
import Expand from '../assets/expand.svg';

---

<Layout>
  <Hero>
    <Section isFullHeight>
      <div class="flex flex-col items-center text-center justify-center h-screen-90">
        <div class="max-w-full inline">
          <Logo fill="currentColor"  height="auto" width="70vw" class="m-auto max-w-full"/>
          <h1 class="md:-mt-4">Studio psicoterapeutico</h1>
        </div>
      </div>
      <div class="text-center">
        <a href="#me">Scopri di più 
          <span class="flex items-center justify-center">
            <Image src={Expand} class="center animate-bounce" alt="Elisa Soldi Logo" style="width: 3rem;height: auto;" /> 
          </span>
        </a>
      </div>
    </Section>
  </Hero>
  <Section background="bg-primary">
    <div id="me" class="columns-1 lg:columns-2 gap-8">
      <div class="mt-4">
        <div>
          <Image src={mainPhoto} width={200} class="m-auto img-shadow mb-8 border-none rounded" alt="Elisa Soldi immagine" />
        </div>
        <div>
          <h2>Chi sono</h2>
          <div>
            <p>
              Hi there! I’m Elisa, Thank you for landing on my site.
              <br><br>
              I offer client-centred and personally tailored psychotherapy services for those living in the Vaughan and Etobicoke area, as well as virtually all across Ontario, and am passionate about supporting women along their healing journeys. 
              <br><br>
              It takes courage to reach out for support, and finding a therapist who you feel connected and safe with through this process is so important. That is why I always offer a complimentary 15 minute phone call where we can get to know each other better and discover if we might be a good fit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </Section>
  <Section background="bg-primary">
    <h2 class="text-center">Cosa offro</h2>
    <div class="columns-1 lg:columns-2 gap-8">
      <CardBox title="Titolo 1">
        <p>
          Person-centred and trauma-focused psychotherapy for individuals over the age of 18. Meetings are offered virtually or over the phone in 50 or 75 minute increments.
        </p>
      </CardBox>
      <CardBox title="Titolo 2">
        <p>
          Person-centred and trauma-focused psychotherapy for individuals over the age of 18. Meetings are offered virtually or over the phone in 50 or 75 minute increments.
        </p>
      </CardBox>
    </div>
    <div class="text-center mt-6">
      <ButtonLink href="/contatti">Prenota un appuntamento</ButtonLink>
    </div>
  </Section>
</Layout>
