---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import ButtonLink from '../components/ButtonLink.astro';
import CardBox from '../components/CardBox.astro';
import Section from '../components/Section.astro';

import { Image } from 'astro:assets';
import mainPhoto  from '../assets/foto/elisa_soldi_foto.jpg';
import Logo from '../assets/sign.svg';
import Expand from '../assets/expand.svg';

---

<Layout>
  <Hero>
    <Section isFullHeight>
      <div class="flex flex-col items-center text-center justify-center h-screen-90">
        <div class="max-w-full inline">
          <Logo fill="currentColor"  height="auto" width="70vw" class="m-auto max-w-full"/>
          <h1 class="md:-mt-4">Psicologa</h1>
        </div>
      </div>
      <div class="text-center">
        <a href="#me">Scopri di più 
          <span class="flex items-center justify-center">
            <Image src={Expand} class="center animate-bounce" alt="Elisa Soldi Logo" style="width: 3rem;height: auto;" /> 
          </span>
        </a>
      </div>
    </Section>
  </Hero>
  <Section background="bg-primary md:px-60">
    <div id="me" class="flex flex-col md:flex-row">
        <div class="flex-1 md:mt-4">
          <Image src={mainPhoto} width={200} class="img-shadow mb-8 border-none rounded mx-auto md:mx-0" alt="Elisa Soldi immagine" />
        </div>
        <div class="flex-2 md:mt-4">
          <h2>Chi sono</h2>
          <div>
            <p>
              Hi there! I'm Elisa, Thank you for landing on my site.
              <br><br>
              I offer client-centred and personally tailored psychotherapy services for those living in the Vaughan and Etobicoke area, as well as virtually all across Ontario, and am passionate about supporting women along their healing journeys. 
              <br><br>
              It takes courage to reach out for support, and finding a therapist who you feel connected and safe with through this process is so important. That is why I always offer a complimentary 15 minute phone call where we can get to know each other better and discover if we might be a good fit.
            </p>
          </div>
        </div>
    </div>
    <!-- <span>Testo testo testo</span> -->
  </Section>
  <Section background="bg-accent italic text-center text-xl md:text-2xl">
    <!--- TODO Fare con stesso font della firma -->
   <span class="mt-8">"Tutte le risorse di cui abbiamo bisogno sono nella nostra mente"</span>
  </Section>
  <Section background="bg-primary">
    <h2 class="text-center">Cosa offro</h2>
    <div class="flex flex-col md:flex-row gap-8">
      <CardBox title="Titolo 1">
        <p>
          Person-centred and trauma-focused psychotherapy for individuals over the age of 18. Meetings are offered virtually or over the phone in 50 or 75 minute increments.
        </p>
      </CardBox>
      <CardBox title="Tutoraggio BES e DSA">
        <div>
          Offro supporto personalizzato per bambini e ragazzi con difficoltà scolastiche, aiutandoli a sviluppare strategie di apprendimento efficaci. Il mio lavoro si concentra su:
          </br></br>
          <ul class="list-disc pl-4">
            <li>Sostegno nei compiti con metodi personalizzati e strumenti compensativi</li>
            <li>Potenziamento delle capacità di attenzione e concentrazione</li>
            <li>Strategie per migliorare l'organizzazione e la gestione del tempo</li>
          </ul>
        </div>
      </CardBox>
    </div>
  </Section>
  <Section background="bg-primary">
    <div class="text-center mt-6">
      <ButtonLink href="/contatti">Prenota un appuntamento</ButtonLink>
    </div>
  </Section>
</Layout>
