---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import ButtonLink from '../components/ButtonLink.astro';
import CardBox from '../components/CardBox.astro';
import Section from '../components/Section.astro';

import { Image } from 'astro:assets';
import mainPhoto  from '../assets/foto/elisa_soldi_foto_resized.png';
import Logo from '../assets/sign.svg';
import Expand from '../assets/expand.svg';

---

<Layout>
  <Hero>
    <Section isFullHeight>
      <div class="flex flex-col items-center text-center justify-center h-screen-90">
        <div class="max-w-full inline">
          <Logo fill="currentColor"  height="auto" width="70vw" class="m-auto max-w-full"/>
          <h1 class="md:-mt-4">Psicologa</h1>
        </div>
      </div>
      <div class="text-center">
        <a href="#me">Scopri di più 
          <span class="flex items-center justify-center">
            <Image src={Expand} class="center animate-bounce" alt="Elisa Soldi Logo" style="width: 3rem;height: auto;" /> 
          </span>
        </a>
      </div>
    </Section>
  </Hero>
  <Section background="bg-primary md:px-60">
    <div id="me" class="flex flex-col md:flex-row">
        <div class="flex-1 md:mt-4">
          <Image src={mainPhoto} width={200} class="img-shadow mb-8 border-none rounded mx-auto md:mx-0" alt="Elisa Soldi immagine" />
        </div>
        <div class="flex-2 md:mt-4">
          <h2>Su di me</h2>
          <div>
            <p>
            Sono la Dott.ssa Elisa Soldi, psicologa e specializzanda in psicoterapia presso il Centro di Terapia Cognitivo Comportamentale di Firenze.</p>
            <br><br>
            <ul class="list-disc pl-4">
              <li>Laurea in Psicologia Clinica e della Salute presso l’Università degli Studi di Firenze. Iscritta all’Albo degli Psicologi della Toscana (n. 10113).</li><br>
              <li>Corso di Alta Formazione Mindfulness Basic Training - Federmindfulness.</li>
            </ul> 
          </div>
        </div>
    </div>
    <br>
    <div>
      <p>Spesso la sofferenza non ha un nome e si nasconde dietro una sensazione di blocco, di confusione o di stanchezza che non riusciamo a spiegarci. Il mio obiettivo è offrirti uno spazio accogliente, sicuro e protetto, un luogo dove la tua voce può essere ascoltata senza alcun giudizio. Insieme, potremo dare un significato a ciò che provi, esplorare le tue emozioni e i tuoi vissuti.<br>
      Non si tratta di eliminare il dolore, ma di imparare a gestirlo, ad integrarlo e a trasformarlo in un punto di forza per la tua crescita e riorganizzazione. Intraprendere un percorso psicologico è un atto di coraggio e un investimento su te stesso, un passo verso una vita più consapevole. 
      </p>
    </div>
    <!-- <span>Testo testo testo</span> -->
  </Section>
  <Section background="bg-accent italic text-center text-xl md:text-2xl">
    <!--- TODO Fare con stesso font della firma -->
   <span>"</span><span id="main-quote" class="mt-8"></span><span>"</span>
  </Section>
  <Section background="bg-primary">
    <div class="flex flex-col md:flex-row gap-8">
      <CardBox title="Consulenze e sostegno psicologico">
        <div>
          Offro percorsi di consulenza e supporto psicologico individuali ad adolescenti, giovani adulti e adulti per affrontare:
          </br></br>
          <ul class="list-disc pl-4">
            <li>Difficoltà legate all'ansia e allo stress</li>
            <li>Difficoltà legate all'umore</li>
            <li>Difficoltà legate alla sfera lavorativa</li>
            <li>Difficoltà legate alla sfera dell’alimentazione</li>
            <li>Difficoltà in ambito relazionale e familiare</li>
            <li>Elaborazione del lutto e della perdita</li>
            <li>Percorsi verso il benessere e crescita personale</li>
          </ul>
          </br></br>
          Consulenze psicologiche di coppia per difficoltà comunicative, conflitti e supporto alla genitorialità.
        </div>
      </CardBox>
      <CardBox title="Tutoraggio BES e DSA">
        <div>
          Offro supporto personalizzato per bambini e ragazzi con difficoltà scolastiche, aiutandoli a sviluppare strategie di apprendimento efficaci. Il mio lavoro si concentra su:
          </br></br>
          <ul class="list-disc pl-4">
            <li>Sostegno nei compiti con metodi personalizzati e strumenti compensativi</li>
            <li>Potenziamento delle capacità di attenzione e concentrazione</li>
            <li>Strategie per migliorare l'organizzazione e la gestione del tempo</li>
          </ul>
        </div>
      </CardBox>
    </div>
  </Section>
  <Section background="bg-primary">
    <div class="text-center mt-6">
      <ButtonLink href="/contatti">Prenota un appuntamento</ButtonLink>
    </div>
  </Section>
</Layout>
<script is:inline>
  const mainQuoteEl = document.getElementById("main-quote");
  const shuffleArray = (array) => {
    for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
    }
  }
  const quotes = [
    "Tutte le risorse di cui abbiamo bisogno sono nella nostra mente",
    "Non si guarisce dal passato, si impara a viverci.",
    "Ogni storia merita di essere ascoltata, ogni persona di ritrovare la propria forza",
    "Il cambiamento inizia quando smetti di combattere i tuoi pensieri e inizi ad ascoltarli.",
    "Capire come funzioniamo è il primo passo per prendere il controllo della nostra vita",
    "Ogni emozione ha una sua ragione di esistere; il nostro compito è comprenderla",
    "Le emozioni non sono un errore da correggere, ma la bussola che dà forma e significato al nostro mondo interiore.", 
    "Imparare ad ascoltarle è il primo passo per capirsi davvero.",
    "Non sono i fatti a farci soffrire, ma l'interpretazione che ne diamo",
    "Il modo in cui le persone pensano a sé stesse è il motore del loro comportamento.",
    "Non siamo definiti dalle nostre emozioni, ma da come reagiamo ad esse.",
    "La mente e il corpo sono in costante dialogo. Quando uno soffre, l'altro ascolta"
  ]
  shuffleArray(quotes);
  let i = 0;
  mainQuoteEl.innerHTML = quotes[i];
  i = (i + 1) % quotes.length;
</script>