---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import WhatsappIcon from '../assets/whatsapp.svg';
import EmailIcon from '../assets/mail.svg';
import { Image } from 'astro:assets';
---

<Layout>
  <Hero>
    <Section isFullHeight>
      <div class="flex flex-col items-center justify-center">
        <h1>Prenota</h1>
      </div>
    </Section>
  </Hero>
</Layout>
