---
const { href } = Astro.props;
---

<a
    href={href}
    class="bg-accent hover:bg-accent-800 focus:ring-4 focus:ring-primary-300 mr-4 font-medium text-sm py-3 px-6 focus:outline-none border-none rounded"
    >
<slot></slot>
</a>
