---
import { Image } from 'astro:assets';
import ButtonLink from './ButtonLink.astro';
import Logo  from '../assets/heart.svg';
---

<header>
    <nav class="bg-primary px-4 lg:px-6 py-2.5">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="/" class="flex items-center">
                <Image src={Logo} class="" alt="Elisa Soldi Logo" style="width: 50px;height: auto;" />
            </a>
            <div class="flex items-center lg:order-2">
                <ButtonLink href="/cosa-aspettarsi">Cosa aspettarsi</ButtonLink>
                <ButtonLink href="/contatti">Contatti</ButtonLink>
            </div>
        </div>
    </nav>
</header>