---
import { Image } from 'astro:assets';
import studioPhoto  from '../assets/foto/studio.jpg';
---

<section
    class="relative items-center flex"
    style="min-height: 400px;"
>
    <!-- - img-->
    <div class="absolute w-full h-full top-0 overflow-hidden">
        <div class="h-full" style="padding-bottom: inherit; position: initial;">
            <div class="absolute top-0 left-0 w-full h-full">
                <Image
                    class="object-cover h-100 lg:h-auto"
                    src={studioPhoto}
                    title="titolo immagine"
                    alt="descrizione immagine"
                />
                <span class="absolute w-full h-full top-0 left-0" style="content: ''; background: rgba(212, 212, 212, 0.9);"></span>
            </div>
        </div>
    </div>
    <!-- - texts-->
    <div class="w-full pr-10 pl-10 mr-auto ml-auto">
        <div class="relative">
            <slot></slot>
        </div>
    </div>
</section>
