---
import { Image } from 'astro:assets';
import studioPhoto  from '../assets/foto/studio.jpg';
const { image } = Astro.props;
---

<section
    class="relative items-center flex"
    style="min-height: 400px;"
>
    <!-- - img-->
    <div class="absolute w-full h-full top-0 overflow-hidden" style="background-color: white;">
        <Image
            class="h-screen w-auto hero-image max-w-none"
            src={image || studioPhoto}
            title="titolo immagine"
            alt="descrizione immagine"
        />
        <span class="absolute w-full h-full top-0 left-0" style="content: ''; background: rgba(238, 231, 223, .7);"></span>
    </div>
    <!-- - texts-->
    <div class="w-full pr-10 pl-10 mr-auto ml-auto">
        <div class="relative">
            <slot></slot>
        </div>
    </div>
</section>
