<section
    class="relative items-center flex"
    style="min-height: 400px;"
>
    <!-- - img-->
    <div class="absolute w-full h-full top-0 overflow-hidden">
        <div class="h-full" style="padding-bottom: inherit; position: initial;">
            <div class="absolute top-0 left-0 w-full h-full">
                <img
                    class="object-cover h-100 lg:h-auto"
                    src="https://animals.sandiegozoo.org/sites/default/files/2016-08/animals_hero_mountains.jpg"
                    title="titolo immagine"
                    alt="descrizione immagine"
                />
            </div>
        </div>
    </div>
    <!-- - texts-->
    <div class="w-full pr-10 pl-10 mr-auto ml-auto">
        <div class="relative">
            <slot></slot>
        </div>
    </div>
</section>
