---
import ButtonLink from './ButtonLink.astro';
---

<section
    style="        position: relative;
        min-height: 400px;
        align-items: center; display: flex;"
>
    <!-- - img-->
    <div
        style="position: absolute;
    width: 100%;
    height: 100%;
    top: 0; overflow: hidden;"
    >
        <div
            style="padding-bottom: inherit;
    height: 100%;
    position: initial;"
        >
            <div
                style="    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;"
            >
                <img
                    src="https://animals.sandiegozoo.org/sites/default/files/2016-08/animals_hero_mountains.jpg"
                    title="titolo immagine"
                    alt="descrizione immagine"
                />
            </div>
        </div>
    </div>
    <!-- - texts-->
    <div
        style="width: 100%;
    padding-right: 10rem;
    padding-left: 10rem;
    margin-right: auto;
    margin-left: auto;"
    >
        <div class="row">
            <div class="col-12">
                <div style="position: relative;">
                    <span class="it-category">Titolo occhiello</span>
                    <h2>Titolo della sezione</h2>
                    <p class="d-none d-lg-block">
                        Platea dictumst vestibulum rhoncus est pellentesque elit
                        ullamcorper dignissim cras. Dictum sit amet justo donec
                        enim diam vulputate ut. Eu nisl nunc mi ipsum faucibus.
                    </p>
                    <div class="it-btn-container">
                        <a class="btn btn-sm btn-secondary" href="#"
                            >Azione primaria</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
